body {
    font-family: Arial, sans-serif;
    margin: auto;
    max-width: 450px;
}
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.button, .show{
    margin : 1rem 0;
}