body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
    max-width: 450px;
    margin: 20px auto;
}

li {
    margin: 5px 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
}

button {
    background-color: orangered;
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
}


form {
    margin-top: 20px;
}

input[type="text"] {
    padding: 8px;
    width: calc(100% - 22px);
    border-radius: 4px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: black;
    border: none;
    color: white;
    cursor: pointer;
}